/* ================== global Var & rules ==================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-width: 0;
  list-style-type: none;
}

::root {
  /* color */
  --pinkColor: hsl(322, 100%, 66%);
  --lighPink: hsl(321, 100%, 78%);
  --LightRed: hsl(0, 100%, 63%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --veryPaleBlue: hsl(207, 100%, 98%);
  /* font */
  --headingFont: "Poppins", sans-serif;
  --bodyFont: "Open Sans", sans-serif;
}
html {
  font-size: 16px;
}
botton{
  outline: none;
}

/* ================= Desktop first  768 <= width < 992px ================= */
.head {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--veryPaleBlue);
}
.container {
  width: 769px;
  margin: 0 auto;
  overflow: hidden;
}
.container header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.container header a {
  font-size: 1.1rem;
  color: hsl(322, 100%, 66%);
  padding: 5px 15px;
  border: 1px solid hsl(322, 100%, 66%);
  border-radius: 20px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  background-color: transparent;
}
.container .contentHd {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.contentHd .brief {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 60vh;
  width: 80%;
  margin-top: 60px;
  margin-bottom: 50px;
}

.brief h1 {
  font-size: 2.1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
}

.brief p {
  display: inline-block;
  width: 65%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
  line-height: 1.5;
}

.btn {
  padding: 15px 60px;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  border: none;
  font-size: 1.1rem;
  word-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  border-radius: 30px;
}
.btn:hover {
  background-color: hsl(321, 100%, 78%);
  cursor: pointer;
}
.contentHd img {
  width: 100%;
  margin: 0 auto;
}

.static {
  width: 90%;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.staticMain h3 {
  font-size: 4.2rem;
  color: hsl(192, 100%, 9%);
  font-family: "Open Sans";
  text-transform: uppercase;
}

.staticMain img {
  width: unset;
}

.staticMain > span {
  color: hsl(192, 100%, 9%);
  font-weight: 300;
  font-family: "Open Sans";
}
/* ================== mobile==================== */
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .container {
    width: 375px;
  }
  .container header {
    height: 70px;
    margin-top: 25px;
  }
  header img {
    width: 170px;
  }
  .container header a {
    padding: 3px 7px;
  }
  .contentHd .brief {
    justify-content: center;
    height: 70vh;
    margin: 0;
  }
  .brief h1 {
    text-align: center;
  }
  .brief p {
    width: 100%;
    margin: 50px 0;
  }
  .btn {
    padding: 15px 40px;
  }
  .static {
    flex-flow: column nowrap;
    height: 50vh;
  }
}
/* ==================== tablets ===================== */
@media screen and (min-width: 600px) and (max-width:768px){
   html{
     font-size: 14px;
   }
   .container{
    width: 600px;
   }
}
/* ============================== large ================== */
@media screen and (min-width: 993px) and (max-width:1200px){
  html{
    font-size: 18px;
  }
  .container{
    width: 992px;
  }
}
@media screen and (min-width: 1201px){
  html{
    font-size: 22px;
  }
  .container{
    width: 1200px;
  }
}
/* ================================================= */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 60vh);
  grid-template-areas:
    "para1 img1"
    "img2 para2"
    "para3 img3";
  overflow: hidden;
  grid-row-gap: 70px;
  grid-column-gap: 20px;
  margin-top: 160px;
}

.grid > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.grid img {
  width: 100%;
}
.grid p {
  font-size: 1rem;
  color: hsl(192, 100%, 9%);
  font-family: "Open Sans";
  font-weight: 400;
}
.sp-head {
  font-size: 2rem;
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.gridMain-1 {
  grid-area: para1;
}

.gridMain-2 {
  grid-area: img1;
}
.gridMain-3 {
  grid-area: img2;
}
.gridMain-4 {
  grid-area: para2;
}
.gridMain-5 {
  grid-area: para3;
}
.gridMain-6 {
  grid-area: img3;
}
/* ======================= mobile =================== */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 20vh);
    grid-template-areas: "img1" "para1" "img2" "para2" "img3" "para3";
    grid-row-gap: 130px;
    padding: 25px 0 120px;
  }
  .grid > div {
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50vh;
  }
  .grid p {
    width: 70%;
    text-align: center;
  }
}
/* ====================================================== */
.buildCmnt {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 40vh;
  margin-top: 150px;
}
/* ====================== mobile ==========================*/
@media (max-width: 600px) {
  .buildCmnt {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 30vh;
    margin-top: 50px;
  }
  .buildCmnt > h4 {
    text-align: center;
  }
}
/* ================================================= */
footer {
  width: 100vw;
  height: 100vh;
  background-color: hsl(192, 100%, 9%);
  margin-top: 200px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
footer > img {
  width: 101%;
  height: auto;
  position: absolute;
  top: -13px;
  left: 0;
}
.container .contentFt {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.contentFt .left,
.contentFt .right {
  width: 48%;
  height: 100vh;
}
.left,
.right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  padding-left: 25px;
}
.left > img {
  width: 12rem;
  margin-bottom: 25px;
}
.left p,
.right p {
  font-size: 1rem;
  color: hsl(207, 100%, 98%);
  font-family: "Open Sans";
  font-weight: 400;
  margin-bottom: 25px;
}
.contact {
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 8px 0;
}
.contact > p {
  margin: 0 15px;
  text-transform: capitalize;
}
.social {
  margin-top: 25px;
}
.social a {
  text-decoration: none;
  margin-right: 10px;
  cursor: grab;
}

.social a i {
  color: hsl(207, 100%, 98%);
  font-size: 2rem;
}

.social > a:hover i {
  color: hsl(0, 100%, 63%);
  cursor: pointer;
  font-size: 2.1rem;
}

.right {
  margin-top: -7%;
  padding-left: 25px;
}
.right > h4 {
  color: hsl(207, 100%, 98%);
  text-transform: uppercase;
}
.right > p {
  width: 85%;
}

form {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
form input[type="email"] {
  width: 60%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
}
form input[type="submit"] {
  width: 30%;
  padding: 0;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  cursor: pointer;
  background-color: hsl(321, 100%, 78%);
}

/* ====================== media queries ===================== */

/* ================ phone ==============  */
@media (max-width: 600px) {
  footer {
    height: 100vh;
    overflow: hidden;
  }
  footer > img {
    width: 101%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0;
    overflow: hidden;
  }
  .container .contentFt {
    flex-flow: column nowrap;
    margin-top: 40%;
    height: 70%;
    justify-content: center;
  }
  .contentFt .left,
  .contentFt .right {
    width: 90%;
    height: 60%;
  }
  .left {
    order: 2;
    padding: 0px 20px;
  }
  .right {
    order: 1;
    padding: 0px 20px;
  }
  .right>h4{
    margin: 20px;
  }
  form {
    flex-flow: column nowrap;
    align-items: flex-end;
    margin: 0;
  }
  form input[type="email"] {
    width: 100%;
    margin-bottom: 25px;
  }
  form input[type="submit"] {
    width: 40%;
    margin-bottom: 25px;
  }
}
/* ================= tablets =========== */
@media screen and (min-width: 600px) and (max-width:768px){
  footer > img {

    top: 0px;
}
/* =================== large ================ */
@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
  .container {
    width: 1200px;
  }
}
